::-webkit-scrollbar {
    display: none;
}

.img-nav{
  border-radius: 50%;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255,102,203);
  } 

  .sidebarlist {
    padding-left: 5px;
    
    font-size: large;
    
    color:blueviolet;
  
  }

  .topnavbar{
    background-image: linear-gradient(to right, #ffafbd ,#aff5ff);
  }

  .headerside {
    font-style:italic;
    font-family:"Lobster";
    color:purple;
    padding-left: 10px;
    margin-top: 10px;
  }

  .cart-item1 {
    
    top:-8px;
    right:-8px;
    background-color: purple;
    border-radius: 50%;
    padding:0 5px;


  }

  .cart-item{
    color:purple;
    padding-left:12px;
    margin-bottom:63px;
    font-size: 1rem;
  }

  .user {
    
    padding-top:10px;
    color:purple;
    font-size: 1.2rem;
  }

  .card-border{
    border:0;
  }

  /* .row-content{
    padding-left: 50px;
  } */

  .addCart{
    background-color:palevioletred;
    color:white;
    
  }

  .card-title {
    font-style: normal;
    color:blueviolet;
  }

  .cart-page{
    padding:20px;
    min-height: 200px;
    border-bottom: 1px ridge;
  }


  .quantity {
    padding-top: 20px;
    margin-right: 60px;
    
  }
  .quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
   
  button[class*=btn-num] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }