::-webkit-scrollbar {
    display: none;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255,102,203);
  } 

  .sidebarlist {
    padding-left: 5px;
    
    font-size: large;
    
    color:blueviolet;
  
  }

  .topnavbar{
    background-image: linear-gradient(to right, #ffafbd ,#aff5ff);
  }

  .headerside {
    font-style:italic;
    font-family:"Lobster";
    color:purple;
    padding-left: 10px;
    margin-top: 10px;
  }

  